@page
@model pogodynkaV4.Pages_Weather.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Twoja historia sprawdzeń</h1>

<p>
    <a asp-page="Create">Sprawdź pogodę</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Weather[0].weatherDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Weather[0].mainWeatherTemp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Weather[0].visibility)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Weather[0].name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Weather[0].uploadTime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Weather) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.weatherDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.mainWeatherTemp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.visibility)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.uploadTime)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
